<div class="page-header">
  <h1>Gestión de Localidades</h1>
  <p>Crear y administrar localidades en el sistema.</p>
</div>
<div class="content-card">
  <form [formGroup]="filterForm" class="filters-container">
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departamentos" >
        <mat-option [value]="null">Todos</mat-option>
        <mat-option *ngFor="let d of departamentos" [value]="d">
          {{ d }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Nombre de localidad">
    </mat-form-field>

       <div class="filters-actions">
      <button mat-flat-button class="create-btn" (click)="buscar()">
        Buscar
      </button>
      <button mat-stroked-button class="outline-btn" (click)="limpiar()">
        Limpiar
      </button>
    </div>
  </form>
</div>
<div class="content-card">
  <div class="localidades-card">
    <div class="table-header">
      <span class="card-title">Lista de Localidades</span>
      <div class="actions">
        <button mat-stroked-button class="massive-btn" (click)="openAltaMasivaDialog()">
          <mat-icon>upload_file</mat-icon>
          Alta Masiva
        </button>
        <button mat-flat-button class="create-btn" (click)="openAgregarDialog()">
          <mat-icon>add</mat-icon>
          Crear Localidad
        </button>
      </div>
    </div>   
</div>
<table mat-table [dataSource]="localidades" class="mat-elevation-z1">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let l">{{ l.id }}</td>
  </ng-container>

  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef>Departamento</th>
    <td mat-cell *matCellDef="let l">{{ l.departamento }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let l">{{ l.nombre }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5,10,20]"
    (page)="cambiarPagina($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
