<div class="dialog-header">
  <h2 class="dialog-title">Agregar Nuevo Ómnibus</h2>
</div>

<div mat-dialog-content class="dialog-container">
  <div *ngIf="loading" class="loading-overlay">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Matrícula</mat-label>
      <input matInput formControlName="matricula" required />
      <mat-error *ngIf="form.get('matricula')?.hasError('required')">La matrícula es obligatoria.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ubicación</mat-label>
      <mat-select formControlName="localidadId" required>
        <mat-option *ngFor="let localidad of localidades" [value]="localidad.id">
          {{ localidad.nombreConDepartamento }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('localidadId')?.hasError('required')">La ubicación es obligatoria.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cantidad de Asientos</mat-label>
      <input matInput type="number" formControlName="cantidadAsientos" required min="1" />
      <mat-error *ngIf="form.get('cantidadAsientos')?.hasError('required')">La cantidad de asientos es obligatoria.</mat-error>
      <mat-error *ngIf="form.get('cantidadAsientos')?.hasError('min')">Debe tener al menos 1 asiento.</mat-error>
    </mat-form-field>


    
    <div *ngIf="error" class="error-banner">
      {{ error }}
    </div>

    <div class="actions" mat-dialog-actions>
      <button mat-stroked-button class="cancel-btn" type="button" (click)="onCancel()" [disabled]="loading">Cancelar</button>
      <button mat-flat-button class="create-btn" type="submit" [disabled]="form.invalid || loading">
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Guardando...</span>
      </button>
    </div>
  </form>
</div>
