$primary-color: #675992;

:host {
  display: block;
  padding: 16px;
}

mat-selection-list {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

mat-list-option {
  border: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px 12px;

  &:hover {
    background-color: #f3f0fa;
    cursor: pointer;
  }
}

mat-dialog-actions {
  margin-top: 16px;

  button {
    text-transform: none;
    height: 36px;
    border-radius: 18px;
  }

  button:first-child {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: white;
  }

  button:first-child:hover {
    background-color: #f3f0fa;
  }
}
