<div class="change-password-container">
  <h2>Cambiar contraseña</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Actual</mat-label>
      <input matInput type="password" formControlName="currentPassword" />
      <mat-error *ngIf="form.get('currentPassword')?.hasError('required')">
        La contraseña actual es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nueva</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
        La nueva contraseña es obligatoria
      </mat-error>
      <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
        Debe tener al menos 8 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmar</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="
          form.hasError('passwordsMismatch') &&
          form.get('confirmPassword')?.touched
        ">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">
      Guardar
    </button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </form>
</div>