<div class="seat-container">
  <div *ngFor="let row of seats" class="seatrow">
    <ng-container *ngFor="let seat of row; let i = index">
      <div *ngIf="seat.seatLabel; else empty"
           (click)="selectSeat(seat)"
           class="seat-item"
           [ngClass]="{
             'seat-available': seat.status === 'available',
             'seat-booked':   seat.status === 'booked'
           }">
        {{ seat.seatNo }}
      </div>
      <ng-template #empty><div class="seat-empty"></div></ng-template>
      <div *ngIf="i === 1" class="aisle"></div>
    </ng-container>
  </div>
</div>

<div class="summary-bar">
  <div>Seleccionados: {{ cart.selectedIds.length }}</div>
  <div>Total: {{ cart.totalamount }} UYU</div>
  <button mat-raised-button color="primary"
          [disabled]="cart.selectedIds.length === 0"
          (click)="processBooking()">
    Confirmar
  </button>
</div>
