<div class="login-card">
  <div class="header-bar"></div>
  <div class="logo-container">
    <img src="assets/charruabusIcon.png" alt="Charrua Bus" class="logo">
  </div>
  <h1 class="title">Bienvenido de nuevo</h1>
  <p class="subtitle">Introduce tus credenciales para iniciar sesión en tu cuenta</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email" placeholder="mail@ejemplo.com">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">El email es requerido</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Ingresa un email válido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password"
        placeholder="●●●●●●●●">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" class="visibility-toggle" aria-label="Mostrar/ocultar contraseña">
        <mat-icon>
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" class="sign-in-button" [disabled]="loginForm.invalid || isLoading">
      <ng-container *ngIf="!isLoading; else loadingSpinner">
        <mat-icon>arrow_forward</mat-icon>
        <span class="sign-in-text">Iniciar sesión</span>
      </ng-container>
      <ng-template #loadingSpinner>
        <mat-spinner diameter="24"></mat-spinner>
      </ng-template>
    </button>

    <div *ngIf="error" class="error-message">
      <mat-icon>error_outline</mat-icon>
      <span>{{ error }}</span>
    </div>

    <div class="forgot-password">
      <a (click)="goToSignup()">¿No tienes cuenta? Regístrate</a>
    </div>
    <div class="forgot-password">
      <a (click)="goToForgotPassword()">¿Olvidaste tu contraseña? Solicitá una nueva</a>
    </div>

  </form>
</div>