.subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 0.95rem;
}

table {
  width: 100%;
  margin-bottom: 16px;
}

button {
  text-transform: none;
  border-radius: 18px;
  height: 32px;
}
