:host { display: block; }
.mat-dialog-title {
  font-size: 1.25rem;
  color: #675992;
}
.mat-dialog-content {
  mat-list { max-height: 200px; overflow: auto; margin-bottom: 1rem; }
  p { margin: .5rem 0; }
}
.mat-dialog-actions {
  button + button { margin-left: .5rem; }
}
