<mat-dialog-content>
  <h3>Seleccionar Asientos</h3>
  <app-seats
    [viajeId]="data.viajeId"
    [cantidadAsientos]="data.cantidadAsientos"
    [maxSeleccion]="data.pasajeros"
    (bookingConfirmed)="onAsientosSeleccionados($event)">
  </app-seats>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary"
          [disabled]="form.invalid || selectedSeats.length !== data.pasajeros"
          (click)="confirmar()">Confirmar</button>
</mat-dialog-actions>
