:host ::ng-deep .create-btn {
  background-color: #675992 !important;
  color: white !important;
  border-radius: 18px;
  padding: 0 20px;
  height: 36px;
  text-transform: none;
  font-weight: 500;
  border: none;

  &:hover {
    background-color: #5c4d84 !important;
  }
}

:host ::ng-deep .outline-btn {
  border: 1px solid #675992 !important;
  color: #675992 !important;
  background-color: white !important;
  border-radius: 18px;
  padding: 0 20px;
  height: 36px;
  text-transform: none;
  font-weight: 500;

  &:hover {
    background-color: rgba(103, 89, 146, 0.1) !important;
  }
}
