<table>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let col of columns">

        <ng-container *ngIf="col.field.toLowerCase().includes('fecha'); else checkAccion">
          {{ row[col.field] | date:'short' }}
        </ng-container>


        <ng-template #checkAccion>
          <ng-container *ngIf="col.field === 'acciones'; else normalCell">
            <button mat-button (click)="action.emit(row.id)">Ver detalle</button>
          </ng-container>
        </ng-template>

        <ng-template #normalCell>
          {{ row[col.field] }}
        </ng-template>
      </td>
    </tr>
    <tr *ngIf="data.length === 0">
      <td [attr.colspan]="columns.length">No hay datos para mostrar.</td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="changePage(pageIndex - 1)" [disabled]="pageIndex === 0">Anterior</button>
  <span>Página {{ pageIndex + 1 }} de {{ totalPages }}</span>
  <button (click)="changePage(pageIndex + 1)" [disabled]="pageIndex + 1 >= totalPages">Siguiente</button>
</div>