<div class="page-header">
  <h1>Gestión de Usuarios</h1>
  <p>Crear y administrar usuarios del sistema.</p>
</div>

<div class="users-card">
  <div class="table-header">
    <span class="card-title">Lista de Usuarios</span>
    <div class="actions">
      <button mat-stroked-button class="massive-btn"(click)="openBulkUpload()">        
        <mat-icon>upload_file</mat-icon>
        Alta Masiva
      </button>
      <button mat-flat-button class="create-btn" (click)="add()">
        <mat-icon>person_add</mat-icon>
        Crear Usuario
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let u"> {{ u.id }} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let u"> {{ u.nombre }} </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let u"> {{ u.correo }} </td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let u"> {{ u.documento }} </td>
    </ng-container>

    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let u">
        <span class="badge badge-role">{{ u.rol }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaRegistro">
      <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
      <td mat-cell *matCellDef="let u"> {{ u.fechaRegistro }} </td>
    </ng-container>

    <ng-container matColumnDef="ultimoAcceso">
      <th mat-header-cell *matHeaderCellDef> Últ. Acceso </th>
      <td mat-cell *matCellDef="let u"> {{ u.ultimoAcceso }} </td>
    </ng-container>

    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let u">
        <span class="badge" [ngClass]="u.activo ? 'badge-active' : 'badge-inactive'">
          {{ u.activo ? 'Activo' : 'Inactivo' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let u">
        <button mat-icon-button color="accent" (click)="edit(u)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="remove(u)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
