.filter-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    label {
        display: flex;
        flex-direction: column;
    }

    button {
        align-self: flex-end;
    }
}

.loading,
.error {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}