<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Matrícula</mat-label>
        <input matInput formControlName="matricula" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Localidad ID</mat-label>
        <input matInput type="number" formControlName="localidadId" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cantidad de Asientos</mat-label>
        <input matInput type="number" formControlName="cantidadAsientos" />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>